@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 30px;
}

h1 {
    color: #901C1C;
    padding: 0 10% 0 0;
}

a {
    text-decoration: none;
}

section {
    margin: 30px;
}



.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-position: center;
    object-fit: cover;
}

h3,
.tagline,
.price {
    margin: 0;
    padding: 0;
}

h3 {
    color: #D3573C;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}